h1.h1{
    font-family: Arial, sans-serif;
    font-size: 1.8em;
}
h2.h2{
    font-family: Arial, sans-serif;
    font-size: 1.5em;
}
h3.h3{
    font-family: Arial, sans-serif;
    font-size: 1.4em;
}
p.p1{
    font-family: "Times New Roman", sans-serif;
    font-size: 1.2em;
    color: red;
}
p.p2{
    font-family: "Times New Roman", sans-serif;
    font-size: 1.2em;
    color: green;
}
p.p3{
    font-family: "Times New Roman", sans-serif;
    font-size: 1.2em;
    color: blue;
}
h1.em{
    font-size: 2em;
}
h2.ex{
    font-size: 2ex;
}